.trashIcon{
	cursor:pointer;
	margin-left: auto;	
}

.trashIcon:hover{
	cursor:pointer;
	color:red;
}

.addIcon{
	font-size: 2rem;
	color:green;
}

.addIcon:hover{
	color:lightblue;
}

#dropButton{
	background:transparent !important;
	box-shadow: none !important;
	color:black;
	margin-left: 0rem;
	padding-left: 0rem;
	width:10rem;
	text-align: left;
}

#dropdown{

}